.section_login{
    margin:auto;
    display:flex;
    border-radius:15px;
    flex-direction:column;
    padding:5rem 0 5rem 0;
    max-width:575px;
}

.titulo1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:47px;
    color:white;
    margin:auto;
  

}

.img_titulo{
    width: 130,5px;
    margin:auto;
    margin-bottom:200px;
}

.section_img1{
    width: 575px;
    margin:auto;
    
   
}